body {
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

.el_box {
	border: 3px solid black;
	padding: 10px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.footer {
	background-color: #000;
	min-height: 50px;
}

.white-space{
	margin-top: 50px;
	margin-bottom: 20px;
}

.contact-main {
	font-size: 3em;
}
